#include "windows.h"
#include "resources.h"

PILLOWVIEW ACCELERATORS
{
  "N", IDM_NEW, NOINVERT, CONTROL, VIRTKEY
  "O", IDM_OPEN, NOINVERT, CONTROL, VIRTKEY
  "S", IDM_SAVE, NOINVERT, CONTROL, VIRTKEY
  "S", IDM_EXPORT_FOR_WEB, NOINVERT, ALT, VIRTKEY
  "W", IDM_CLOSE, NOINVERT, CONTROL, VIRTKEY
  "P", IDM_PRINT, NOINVERT, CONTROL, VIRTKEY
  "Z", IDM_UNDO, NOINVERT, CONTROL, VIRTKEY
  "Y", IDM_REDO, NOINVERT, CONTROL, VIRTKEY
  "C", IDM_COPY, NOINVERT, CONTROL, VIRTKEY
  "V", IDM_PASTE, NOINVERT, CONTROL, VIRTKEY
  "A", IDM_SELECT_ALL, NOINVERT, CONTROL, VIRTKEY
  "C", IDM_CROP, NOINVERT, ALT, VIRTKEY
  "I", IDM_IMAGE_INFOS, NOINVERT, CONTROL, VIRTKEY
  "R", IDM_RESIZE, NOINVERT, CONTROL, VIRTKEY
  "R", IDM_ROTATE_RIGHT, NOINVERT, ALT, VIRTKEY
  "V", IDM_FLIP_VERTICAL, NOINVERT, ALT, VIRTKEY
  "H", IDM_FLIP_HORIZONTAL, NOINVERT, ALT, VIRTKEY
  "B", IDM_FILTER_BLUR, NOINVERT, ALT, VIRTKEY
  "S", IDM_FILTER_SHARPEN, NOINVERT, ALT, VIRTKEY
  VK_F11, IDM_FULLSCREEN, NOINVERT, VIRTKEY
  "D", IDM_DARK, NOINVERT, ALT, VIRTKEY
  "T", IDM_TOOLBAR, NOINVERT, ALT, VIRTKEY
  VK_OEM_PLUS, IDM_ZOOM_IN, NOINVERT, CONTROL, VIRTKEY
  VK_OEM_MINUS, IDM_ZOOM_OUT, NOINVERT, CONTROL, VIRTKEY
  "H", IDM_ORIGINAL_SIZE, NOINVERT, CONTROL, VIRTKEY
  VK_LEFT, IDM_FRAME_PREVIOUS, NOINVERT, CONTROL, VIRTKEY
  VK_RIGHT, IDM_FRAME_NEXT, NOINVERT, CONTROL, VIRTKEY
  VK_LEFT, IDM_FRAME_PREVIOUS10, NOINVERT, CONTROL, SHIFT, VIRTKEY
  VK_RIGHT, IDM_FRAME_NEXT10, NOINVERT, CONTROL, SHIFT, VIRTKEY
  VK_SPACE, IDM_ANIM_TOGGLE_PLAY, NOINVERT, CONTROL, VIRTKEY
  VK_F1, IDM_ABOUT, NOINVERT, VIRTKEY
}

