#include "windows.h"
#include "resources.h"

PILLOWVIEW MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New...\tCtrl+N",IDM_NEW
    MENUITEM "&Open...\tCtrl+O",IDM_OPEN
    MENUITEM "&Reopen",IDM_REOPEN,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Save...\tCtrl+S",IDM_SAVE,GRAYED
    MENUITEM "&Export for &Web...\tAlt+S",IDM_EXPORT_FOR_WEB,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Close\tCtrl+W",IDM_CLOSE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Pa&ge Setup...",IDM_PAGE_SETUP
    MENUITEM "&Print...\tCtrl+P",IDM_PRINT,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "E&xit",IDM_EXIT
  END

  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_UNDO,GRAYED
    MENUITEM "R&edo\tCtrl+Y",IDM_REDO,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Copy\tCtrl+C",IDM_COPY,GRAYED
    MENUITEM "&Paste\tCtrl+V",IDM_PASTE
    MENUITEM "Se&lect All\tCtrl+A",IDM_SELECT_ALL,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Cro&p Selection\tAlt+C",IDM_CROP,GRAYED
    MENUITEM SEPARATOR
    POPUP "&Options"
    BEGIN
      MENUITEM "Resize window to images",IDM_RESIZE_WINDOW
      MENUITEM "Ask to save changes",IDM_ASK_SAVE
      MENUITEM SEPARATOR
      MENUITEM "Window background color...",IDM_WINDOW_COLOR
    END
  END

  POPUP "&Image"
  BEGIN
    MENUITEM "&Image Infos...\tCtrl+I",IDM_IMAGE_INFOS,GRAYED
    MENUITEM "&Histogram...",IDM_HISTOGRAM,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Resize...\tCtrl+R",IDM_RESIZE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Rotate 90°\tAlt+R",IDM_ROTATE_RIGHT,GRAYED
    MENUITEM "&Vertical flip\tAlt+V",IDM_FLIP_VERTICAL,GRAYED
    MENUITEM "&Horizontal flip\tAlt+H",IDM_FLIP_HORIZONTAL,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Change Mode/Color &Depth...",IDM_CHANGE_DEPTH,GRAYED
    MENUITEM "C&onvert to RGB",IDM_CONVERT_RGB,GRAYED
    MENUITEM "Convert to &Grayscale",IDM_CONVERT_GRAYSCALE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "E&xtract Alpha Channel",IDM_EXTRACT_ALPHA,GRAYED
    MENUITEM "Remo&ve Alpha Channel",IDM_REMOVE_ALPHA,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Invert",IDM_INVERT,GRAYED
    MENUITEM "&Auto-Contrast",IDM_AUTO_CONTRAST,GRAYED
    MENUITEM "C&olor Balance...",IDM_COLOR_BALANCE,GRAYED
    POPUP "&Palette"
    BEGIN
      MENUITEM "Edit &Palette...",IDM_EDIT_PALETTE,GRAYED
      MENUITEM "&Export Palette...",IDM_EXPORT_PALETTE,GRAYED
      MENUITEM "&Import Palette...",IDM_IMPORT_PALETTE,GRAYED
    END
    MENUITEM SEPARATOR
    MENUITEM "B&rightness...",IDM_FILTER_PARAM_BRIGHTNESS,GRAYED
    MENUITEM "C&ontrast...",IDM_FILTER_PARAM_CONTRAST,GRAYED
    MENUITEM "&Gamma Correction...",IDM_FILTER_PARAM_GAMMA,GRAYED
    MENUITEM "Gradation C&urve...",IDM_GRADATION_CURVE,GRAYED
    MENUITEM "Sa&turation...",IDM_FILTER_PARAM_SATURATION,GRAYED
  END

  POPUP "&Filter"
  BEGIN
    MENUITEM "&Blur\tAlt+B",IDM_FILTER_BLUR,GRAYED
    MENUITEM "&Contour",IDM_FILTER_CONTOUR,GRAYED
    MENUITEM "&Detail",IDM_FILTER_DETAIL,GRAYED
    MENUITEM "&Edge Enhance",IDM_FILTER_EDGE_ENHANCE,GRAYED
    MENUITEM "E&mboss",IDM_FILTER_EMBOSS,GRAYED
    MENUITEM "E&qualize",IDM_FILTER_EQUALIZE,GRAYED
    MENUITEM "&Sharpen\tAlt+S",IDM_FILTER_SHARPEN,GRAYED
    MENUITEM "S&mooth",IDM_FILTER_SMOOTH,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Gaussian B&lur...",IDM_FILTER_PARAM_GAUSSIAN_BLUR,GRAYED
    MENUITEM "&Posterize...",IDM_FILTER_PARAM_POSTERIZE,GRAYED
    MENUITEM "Solari&ze...",IDM_FILTER_PARAM_SOLARIZE,GRAYED
    MENUITEM "&Unharp Mask...",IDM_FILTER_PARAM_UNSHARP_MASK,GRAYED
    MENUITEM SEPARATOR
    POPUP "&Effects"
    BEGIN
      MENUITEM "&Lomograph",IDM_EFFECT_LOMOGRAPH,GRAYED
      MENUITEM "P&ointilize",IDM_EFFECT_POINTILIZE,GRAYED
      MENUITEM "&Polaroid",IDM_EFFECT_POLAROID,GRAYED
      MENUITEM "&Sepia",IDM_EFFECT_SEPIA,GRAYED
      MENUITEM "&Vignette",IDM_EFFECT_VIGNETTE,GRAYED
    END
  END

  POPUP "&View"
  BEGIN
    MENUITEM "Full &Screen\tF11",IDM_FULLSCREEN
    MENUITEM "&Dark Mode\tAlt+D",IDM_DARK
    MENUITEM "Main &Toolbar\tAlt+T",IDM_TOOLBAR
    MENUITEM SEPARATOR
    MENUITEM "Zoom &in\tCtrl+Plus",IDM_ZOOM_IN,GRAYED
    MENUITEM "Zoom &out\tCtrl+Minus",IDM_ZOOM_OUT,GRAYED
    MENUITEM "&Original size\tCtrl+H",IDM_ORIGINAL_SIZE,GRAYED
    MENUITEM SEPARATOR
//    MENUITEM "&Previous Frame\tCtrl+Left",IDM_FRAME_PREVIOUS,GRAYED
//    MENUITEM "&Next Frame\tCtrl+Right",IDM_FRAME_NEXT,GRAYED
//    MENUITEM "&Start/Stop Animation\tCtrl+SPACE",IDM_ANIM_TOGGLE_PLAY,GRAYED
    POPUP "&Frames/Animation"
    BEGIN
      MENUITEM "Skip &back\tCtrl+Left",IDM_FRAME_PREVIOUS,GRAYED
      MENUITEM "Skip &forward\tCtrl+Right",IDM_FRAME_NEXT,GRAYED
      MENUITEM SEPARATOR
      MENUITEM "&Skip 10 frames back\tCtrl+Shift+Left",IDM_FRAME_PREVIOUS10,GRAYED
      MENUITEM "S&kip 10 frames forward\tCtrl+Shift+Right",IDM_FRAME_NEXT10,GRAYED
      MENUITEM SEPARATOR
      MENUITEM "&Play/Pause Animation\tCtrl+SPACE",IDM_ANIM_TOGGLE_PLAY,GRAYED
    END
  END

//  POPUP "&Plugins"
//  BEGIN
//  END

  POPUP "&Help"
  BEGIN
    MENUITEM "&About...\tF1",IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "Manage Plugins...",IDM_MANAGE_PLUGINS
  END
END

