#include "windows.h"
#include "resources.h"

PILLOWVIEW ICON "app.ico"

IDI_CURSOR_ZOOM CURSOR DISCARDABLE "zoom.cur"

IDB_TOOLBAR_ZOOM BITMAP DISCARDABLE "toolbar-zoom.bmp"

IDB_TOOLBAR_MAIN BITMAP DISCARDABLE "toolbar-main.bmp"
IDB_TOOLBAR_MAIN_DARK BITMAP DISCARDABLE "toolbar-main-dark.bmp"

IDB_TOOLBAR_MAIN_DISABLED BITMAP DISCARDABLE "toolbar-main-disabled.bmp"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "59de44955ebd"
		VALUE "FileDescription", "PillowView"
		VALUE "FileVersion", "0.1.0.0)"
		VALUE "InternalName", "PillowView"
		VALUE "OriginalFilename", "PillowView.exe"
		VALUE "ProductName", "PillowView"
		VALUE "ProductVersion", "0,1,0,0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

IDD_DLG_SETTINGS_SAVE DIALOGEX 0,0,306,60
FONT 8,"MS Shell Dlg",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW|WS_CLIPSIBLINGS
BEGIN
  CONTROL "Settings",IDC_STC_SETTINGS,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,66,0,240,52

  CONTROL "Quality:",IDC_AVIF_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,27,9
  CONTROL "",IDC_AVIF_TRB1,"msctls_trackbar32",WS_VISIBLE|TBS_TOOLTIPS,99,13,200,15
  CONTROL "Subsampling:",IDC_AVIF_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,33,41,9
  CONTROL "",IDC_AVIF_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,30,80,13
  CONTROL "As Animation",IDC_AVIF_CHK_ANIM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,206,33,60,9

  CONTROL "Pixel format:",IDC_DDS_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,42,9
  CONTROL "",IDC_DDS_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,12,80,13

  CONTROL "Color mode:",IDC_GIF_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,42,9
  CONTROL "",IDC_GIF_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,12,80,13
  CONTROL "Interlace",IDC_GIF_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,33,38,9
  CONTROL "As Animation",IDC_GIF_CHK_ANIM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,117,33,60,9

  CONTROL "Packed (PNG format)",IDC_ICO_CHK_PACKED,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,15,80,9
  CONTROL "Generate additional (smaller) sizes",IDC_ICO_CHK_SIZES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,33,120,9

  CONTROL "Generate additional (smaller) sizes",IDC_ICNS_CHK_SIZES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,15,120,9

  CONTROL "Quality:",IDC_JPEG_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,27,9
  CONTROL "",IDC_JPEG_TRB1,"msctls_trackbar32",WS_VISIBLE|TBS_TOOLTIPS,99,13,200,15
  CONTROL "Subsampling:",IDC_JPEG_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,33,41,9
  CONTROL "",IDC_JPEG_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,30,80,13
  CONTROL "Optimize",IDC_JPEG_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,206,33,38,9
  CONTROL "Progressive",IDC_JPEG_CHK2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,250,33,54,9
  CONTROL "Color mode:",IDC_PNG_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,42,9

  CONTROL "Quality:",IDC_JPEG2000_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,27,9
  CONTROL "",IDC_JPEG2000_TRB1,"msctls_trackbar32",WS_VISIBLE|TBS_TOOLTIPS,99,13,200,15
  CONTROL "Lossless",IDC_JPEG2000_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,33,38,9

  // PDF
  CONTROL "Title:",IDC_PDF_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,17,9
  CONTROL "",IDC_PDF_EDIT_TITLE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,90,13,50,12
  CONTROL "Author:",IDC_PDF_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,155,15,22,9
  CONTROL "",IDC_PDF_EDIT_AUTHOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,179,13,50,12
  CONTROL "DPI:",IDC_PDF_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,245,15,15,9
  CONTROL "96",IDC_PDF_EDIT_RES,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER,261,13,20,12
  CONTROL "All Pages",IDC_PDF_CHK_ALL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,33,60,9

  CONTROL "",IDC_PNG_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,12,80,13
  CONTROL "Compression:",IDC_PNG_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,33,42,9
  CONTROL "",IDC_PNG_TRB1,"msctls_trackbar32",WS_VISIBLE|TBS_TOOLTIPS,118,31,80,15
  CONTROL "Optimize",IDC_PNG_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,206,33,38,9
  CONTROL "As Animation",IDC_PNG_CHK_ANIM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,249,33,60,9

  CONTROL "Compression:",IDC_TIFF_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,42,9
  CONTROL "",IDC_TIFF_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,118,12,80,13
  CONTROL "Quality:",IDC_TIFF_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,33,27,9
  CONTROL "",IDC_TIFF_TRB1,"msctls_trackbar32",WS_VISIBLE|WS_DISABLED|TBS_TOOLTIPS,99,31,200,15
  CONTROL "All Pages",IDC_TIFF_CHK_ALL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,206,15,60,9

  CONTROL "Quality:",IDC_WEBP_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,73,15,27,9
  CONTROL "",IDC_WEBP_TRB1,"msctls_trackbar32",WS_VISIBLE|TBS_TOOLTIPS,99,13,200,15
  CONTROL "Lossless",IDC_WEBP_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,73,33,38,9
  CONTROL "As Animation",IDC_WEBP_CHK_ANIM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,117,33,60,9
END

IDD_DLG_NEW DIALOGEX 0,0,239,150
CAPTION "Create New Image"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "512",IDC_NEW_EDIT_WIDTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,59,18,30,12
  CONTROL "512",IDC_NEW_EDIT_HEIGHT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,59,33,30,12
  CONTROL "96",IDC_NEW_EDIT_DPI_X,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER,59,53,30,12
  CONTROL "96",IDC_NEW_EDIT_DPI_Y,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER,59,68,30,12
  CONTROL "1&6,7 Million colors (24 BPP)",IDC_NEW_BTN_COLOR_RGB,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,126,18,105,11
  CONTROL "&Grayscale image",IDC_NEW_BTN_COLOR_GS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,126,37,105,11
  CONTROL "&256 Colors (8 BPP)",IDC_NEW_BTN_COLOR_256,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,126,56,105,11
  CONTROL "&16 Colors (4 BPP)",IDC_NEW_BTN_COLOR_16,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,126,75,105,11
  CONTROL "&Black/White (1 BPP)",IDC_NEW_BTN_COLOR_2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|BS_AUTORADIOBUTTON,126,93,83,11
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,111,130,60,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,130,60,14
  CONTROL "Image width:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,13,20,44,10
  CONTROL "Define new image:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,4,228,120
  CONTROL "Image height:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,13,34,44,10
  CONTROL "Colors:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,119,4,114,120
  CONTROL "pixel",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,93,20,20,8
  CONTROL "pixel",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,93,34,20,8
  CONTROL "",IDC_NEW_STATIC_BGCOLOR,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_SUNKEN|SS_BITMAP,17,87,90,14
  CONTROL "Background color",IDC_NEW_BTN_BGCOLOR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,17,106,90,14
  CONTROL "X-DPI:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,35,55,22,8
  CONTROL "Y-DPI:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,35,70,22,8
END

IDD_DLG_DEPTH DIALOGEX 0,0,195,212
CAPTION "Change Color Depth"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_MODALFRAME|DS_SETFONT|DS_SYSMODAL
BEGIN
  CONTROL "RGBA (32 BPP)",IDC_DEPTH_BTN_RGBA,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,13,18,174,9
  CONTROL "CMYK (32 BPP)",IDC_DEPTH_BTN_CMYK,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,31,174,9
  CONTROL "RGB (24 BPP)",IDC_DEPTH_BTN_RGB,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,44,174,9
  CONTROL """LA"" - Grayscale + Alpha (16 BPP)",IDC_DEPTH_BTN_LA,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,57,174,9
  CONTROL """PA"" - &Palette + Alpha (16 BPP)",IDC_DEPTH_BTN_PA,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,70,174,9
  CONTROL """L"" - &Grayscale (8 BPP)",IDC_DEPTH_BTN_L,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,83,174,9
  CONTROL """P"" - 2&56 Colors (8 BPP)",IDC_DEPTH_BTN_P_8,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,96,174,9
  CONTROL """P"" - 16 Colors (4 BPP)",IDC_DEPTH_BTN_P_4,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,109,174,9
  CONTROL """P"" - 2 Colors (1 BPP)",IDC_DEPTH_BTN_P_1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,122,174,9
  CONTROL """1"" - Black/White (1 BPP)",IDC_DEPTH_BTN_1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,135,174,9

  CONTROL """P"" - &Custom:",IDC_DEPTH_BTN_P_CUSTOM,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTORADIOBUTTON,13,148,54,11
  CONTROL "128",IDC_DEPTH_EDIT_CUSTOM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_NUMBER,69,147,23,12
  CONTROL "(2 - 256 colors)",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE,95,149,50,10

  CONTROL "&Use Floyd-Steinberg dithering (for ""P"" and ""1"")",IDC_DEPTH_BTN_DITHER,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,13,168,174,10
  CONTROL "Colors:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,5,183,181
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,67,193,60,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,130,193,60,14
END

IDD_DLG_RESIZE_IMAGE DIALOGEX 0,0,166,200
CAPTION "Resize Image"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "",IDC_EDIT_WIDTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_GROUP|WS_TABSTOP|ES_MULTILINE|ES_NUMBER,36,60,31,12
  CONTROL "",IDC_EDIT_HEIGHT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_GROUP|WS_TABSTOP|ES_MULTILINE|ES_NUMBER,112,60,31,12
  CONTROL "Pixel",IDC_RADIO_PIXELS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,36,77,33,10
  CONTROL "Percent",IDC_RADIO_PCT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,70,77,44,10
  CONTROL "Preserve &aspect ratio (proportional)",IDC_CHECKBOX_PRESERVE_RATIO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTOCHECKBOX,9,105,142,10
  CONTROL "App&ly sharpen after resize",IDC_CHECKBOX_SHARPEN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTOCHECKBOX,9,120,145,10
  CONTROL "",IDC_COMBO_METHOD,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,9,153,98,13
  CONTROL "&OK",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,40,181,60,14
  CONTROL "&Cancel",2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,103,181,60,14
  CONTROL "Set new size:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|BS_GROUPBOX,3,47,159,44
  CONTROL "Width:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,12,62,22,8
  CONTROL "Height:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,86,62,23,8
  CONTROL "Current size:",IDC_STATIC_CURRENT_SIZE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,9,10,143,10
  CONTROL "",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,94,159,43
  CONTROL "",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,0,159,44
  CONTROL "Size method:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,139,159,37
  CONTROL "Unit:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,12,77,19,8
  CONTROL "New size:",IDC_STATIC_NEW_SIZE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,9,26,143,10
END

IDD_DLG_IMAGE_INFO DIALOGEX 0,0,300,400
CAPTION "Image Infos"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT|WS_THICKFRAME
BEGIN
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL|LVS_NOLABELWRAP|LVS_NOCOLUMNHEADER,0,0,300,377,WS_EX_CLIENTEDGE
  CONTROL "Copy to clipboard",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_PUSHBUTTON,3,381,70,15
  CONTROL "Cancel",IDCANCEL,"Button",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,236,381,60,15
END

IDD_DLG_PLUGIN_MANAGER DIALOGEX 0,0,416,180
CAPTION "Plugin Manager [plugins are loaded/unloaded after application restart]"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT|WS_THICKFRAME
BEGIN
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL,0,0,416,271,WS_EX_CLIENTEDGE
END

IDD_DLG_PALETTE_ENTRIES DIALOGEX 0,0,219,280
CAPTION "Palette entries"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "", 1781, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 219, 203
  CONTROL "Index: ", 1779, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 208, 52, 10
  CONTROL "Value:", 1780, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 208, 153, 10
  CONTROL "Hints:\nClick on a color to select it, double-click to edit it, right-click to mark/unmark it as transparent.\nRight-click into the image to select the index here.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 220, 202, 34
  CONTROL "Apply", IDC_BTN_APPLY, BUTTON, BS_PUSHBUTTON|WS_CHILD |WS_VISIBLE|WS_TABSTOP,6,260,60,15
  CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,260,60,15
  CONTROL "Cancel",IDCANCEL,"Button",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,153,260,60,15
END

IDD_DLG_FILTER DIALOGEX 0,0,240,240
CAPTION "Filter"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MAXIMIZEBOX|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "Slider1",IDC_FILTER_SLIDER,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_TOP,6,259,202,12
  CONTROL "0",IDC_FILTER_EDIT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,209,259,25,12

  CONTROL "Reset",IDC_BTN_RESET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,279,60,15
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,108,279,60,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,279,60,15
END

IDD_DLG_COLOR_BALANCE DIALOGEX 0,0,240,240
CAPTION "Color Balance"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MAXIMIZEBOX|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "R:",IDC_STATIC_R,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,259,8,8
  CONTROL "Slider1",IDC_SLIDER_R,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_TOP,6,259,202,12
  CONTROL "0",IDC_EDIT_R,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,214,259,20,12

  CONTROL "G:",IDC_STATIC_G,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,259,8,8
  CONTROL "Slider1",IDC_SLIDER_G,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_TOP,6,259,202,12
  CONTROL "0",IDC_EDIT_G,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,214,259,20,12

  CONTROL "B:",IDC_STATIC_B,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,259,8,8
  CONTROL "Slider1",IDC_SLIDER_B,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_TOP,6,259,202,12
  CONTROL "0",IDC_EDIT_B,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP,214,259,20,12

  CONTROL "Reset",IDC_BTN_RESET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,279,60,15
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,108,279,60,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,279,60,15
END

IDD_DLG_SAVE_WEB DIALOGEX 0,0,672,370
CAPTION "Save for Web"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_VISIBLE|WS_CLIPSIBLINGS|WS_OVERLAPPEDWINDOW
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE
BEGIN
  CONTROL "Zoom",IDC_WEB_TB_ZOOM,"ToolbarWindow32",WS_CHILDWINDOW|WS_VISIBLE|TBSTYLE_TOOLTIPS|CCS_NODIVIDER|CCS_NORESIZE|CCS_TOP,619,298,46,13,WS_EX_COMPOSITED|0x00000008

  CONTROL "Original image:",IDC_WEB_STATIC_ORG_IMG,"Static",WS_CHILDWINDOW|WS_VISIBLE|0x00002000,7,5,341,12
  CONTROL "Optimized image:",IDC_WEB_STATIC_OPT_IMG,"Static",WS_CHILDWINDOW|WS_VISIBLE|0x00002000,339,5,341,12

  CONTROL "",IDC_WEB_TABCTL,"SysTabControl32",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPSIBLINGS|TCS_HOTTRACK,7,296,341,12

  CONTROL "",IDC_WEB_JPEG_TRB_QUAL,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|TBS_TOOLTIPS,41,323,200,15
  CONTROL "Quality:",IDC_WEB_JPEG_STATIC_QUAL,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,14,324,27,9
  CONTROL "75",IDC_WEB_JPEG_EDIT_QUAL,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_NUMBER|ES_MULTILINE|ES_CENTER,247,323,20,11,WS_EX_CLIENTEDGE
  CONTROL "%",IDC_WEB_JPEG_STATIC_PCT,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SIMPLE,271,324,27,11
  CONTROL "Subsampling:",IDC_WEB_JPEG_STATIC_SUBSAMPLING,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,344,47,9
  CONTROL "",IDC_WEB_JPEG_COMBO_SUBSAMPLING,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|CBS_HASSTRINGS|CBS_DROPDOWNLIST,61,342,67,13
  CONTROL "Optimize",IDC_WEB_JPEG_CHKBOX_OPTIMIZE,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTOCHECKBOX,134,344,40,9
  CONTROL "Progressive",IDC_WEB_JPEG_CHKBOX_PROGRESSIVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_AUTOCHECKBOX,177,344,47,9

  CONTROL "Color mode:",IDC_WEB_PNG_STATIC_COLORMODE,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE,14,324,40,9
  CONTROL "",IDC_WEB_PNG_COMBO_COLORMODE,"ComboBox",WS_CHILDWINDOW|NOT WS_VISIBLE|CBS_HASSTRINGS|CBS_DROPDOWNLIST,57,322,80,13
  CONTROL "Compression:",IDC_WEB_PNG_STATIC_COMPRESSION,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE,14,344,47,9
  CONTROL "",IDC_WEB_PNG_TRB_COMPRESSION,"msctls_trackbar32",WS_CHILDWINDOW|NOT WS_VISIBLE|TBS_TOOLTIPS,61,344,67,15
  CONTROL "6",IDC_WEB_PNG_EDIT_COMPRESSION,"Edit",WS_CHILDWINDOW|NOT WS_VISIBLE|ES_NUMBER|ES_MULTILINE|ES_CENTER,134,344,20,11,WS_EX_CLIENTEDGE
  CONTROL "Optimize",IDC_WEB_PNG_CHKBOX_OPTIMIZE,"Button",WS_CHILDWINDOW|NOT WS_VISIBLE|BS_AUTOCHECKBOX,161,345,40,9

  CONTROL "Color mode:",IDC_WEB_GIF_STATIC_COLORMODE,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE,14,324,40,9
  CONTROL "",IDC_WEB_GIF_COMBO_COLORMODE,"ComboBox",WS_CHILDWINDOW|NOT WS_VISIBLE|CBS_HASSTRINGS|CBS_DROPDOWNLIST,57,322,80,13
  CONTROL "Interlace",IDC_WEB_GIF_CHKBOX_INTERLACE,"Button",WS_CHILDWINDOW|NOT WS_VISIBLE|BS_AUTOCHECKBOX,14,344,40,9

  // WEBP
  CONTROL "",IDC_WEB_WEBP_TRB_QUAL,"msctls_trackbar32",WS_CHILDWINDOW|NOT WS_VISIBLE|TBS_TOOLTIPS,41,323,200,15
  CONTROL "Quality:",IDC_WEB_WEBP_STATIC_QUAL,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE|SS_CENTER,14,324,27,9
  CONTROL "80",IDC_WEB_WEBP_EDIT_QUAL,"Edit",WS_CHILDWINDOW|NOT WS_VISIBLE|ES_NUMBER|ES_MULTILINE|ES_CENTER,247,323,20,11,WS_EX_CLIENTEDGE
  CONTROL "%",IDC_WEB_WEBP_STATIC_PCT,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE|SS_SIMPLE,271,324,27,11
  CONTROL "Lossless",IDC_WEB_WEBP_CHKBOX_LOSSLESS,"Button",WS_CHILDWINDOW|NOT WS_VISIBLE|BS_AUTOCHECKBOX,14,344,53,9

  //AVIF
  CONTROL "",IDC_WEB_AVIF_TRB_QUAL,"msctls_trackbar32",NOT WS_VISIBLE|WS_CHILDWINDOW|TBS_TOOLTIPS,41,323,200,15
  CONTROL "Quality:",IDC_WEB_AVIF_STATIC_QUAL,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE|SS_CENTER,14,324,27,9
  CONTROL "75",IDC_WEB_AVIF_EDIT_QUAL,"Edit",WS_CHILDWINDOW|NOT WS_VISIBLE|ES_NUMBER|ES_MULTILINE|ES_CENTER,247,323,20,11,WS_EX_CLIENTEDGE
  CONTROL "%",IDC_WEB_AVIF_STATIC_PCT,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE|SS_SIMPLE,271,324,27,11
  CONTROL "Subsampling:",IDC_WEB_AVIF_STATIC_SUBSAMPLING,"Static",WS_CHILDWINDOW|NOT WS_VISIBLE,14,344,47,9
  CONTROL "",IDC_WEB_AVIF_COMBO_SUBSAMPLING,"ComboBox",WS_CHILDWINDOW|NOT WS_VISIBLE|CBS_HASSTRINGS|CBS_DROPDOWNLIST,61,342,67,13

  CONTROL "Save",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_DEFPUSHBUTTON,543,350,60,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE,606,350,60,15
END

IDD_DLG_RAW_OPEN DIALOGEX 0,0,195,295
CAPTION "RAW Parameters"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "Image Size",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,3,184,33,WS_EX_NOPARENTNOTIFY

  CONTROL "Width:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,19,22,11,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_RAW_EDIT_WIDTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER,36,17,26,12,WS_EX_CLIENTEDGE|WS_EX_NOPARENTNOTIFY

  CONTROL "Height:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE,68,19,22,10,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_RAW_EDIT_HEIGHT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER,93,17,26,12,WS_EX_CLIENTEDGE|WS_EX_NOPARENTNOTIFY

  CONTROL "Header:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE,125,19,26,11,WS_EX_NOPARENTNOTIFY
  CONTROL "0",IDC_RAW_EDIT_HEADER,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER,153,17,26,12,WS_EX_CLIENTEDGE|WS_EX_NOPARENTNOTIFY

  CONTROL "BitsPerPixel (BPP):",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,40,184,132,WS_EX_NOPARENTNOTIFY

  CONTROL "1 &BPP",IDC_RAW_RBN_BPP_1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,53,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "8 BPP (Grayscale, &1 Byte per Pixel)",IDC_RAW_RBN_BPP_8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,66,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "16 BPP (Grayscale + Alpha, &2 Bytes per Pixel)",IDC_RAW_RBN_BPP_16,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,79,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "24 BPP (&3 Bytes per Pixel)",IDC_RAW_RBN_BPP_24,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,92,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "32 BPP (&4 Bytes per Pixel)",IDC_RAW_RBN_BPP_32,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,105,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "48 BPP (&6 Bytes per Pixel)",IDC_RAW_RBN_BPP_48,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,118,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "64 BPP (&8 Bytes per Pixel)",IDC_RAW_RBN_BPP_64,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,131,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "&96 BPP (12 Bytes per Pixel)",IDC_RAW_RBN_BPP_96,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,144,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "128 B&PP (16 Bytes per Pixel)",IDC_RAW_RBN_BPP_128,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,157,168,10,WS_EX_NOPARENTNOTIFY

  CONTROL "Options",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,176,184,94,WS_EX_NOPARENTNOTIFY

  CONTROL "&Interleaved",IDC_RAW_CHK_INTERLEAVED,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,189,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "BGR(A) instead of RGB(A) (24+ BPP only)",IDC_RAW_CHK_BGR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,202,168,10,WS_EX_NOPARENTNOTIFY

  CONTROL "CMYK instead of RGBA (32 BPP only)",IDC_RAW_CHK_CMYK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,215,168,10,WS_EX_NOPARENTNOTIFY

  CONTROL "&Use Alpha Channel (32/64/128 BPP only)",IDC_RAW_CHK_ALPHA,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,228,168,9,WS_EX_NOPARENTNOTIFY
  CONTROL "&Big Endian (Swap Bytes, 96/128 BPP only)",IDC_RAW_CHK_BE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,241,168,10,WS_EX_NOPARENTNOTIFY
  CONTROL "&Vertical Flip",IDC_RAW_CHK_VERTICAL_FLIP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTOCHECKBOX,12,254,168,10,WS_EX_NOPARENTNOTIFY

  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,275,60,15,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,129,275,60,15,WS_EX_NOPARENTNOTIFY
END

IDD_DLG_HISTOGRAM DIALOGEX 0,0,219,262
CAPTION "Histogram"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "Gray",IDC_HIST_RBN_GRAY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,8,1,40,10,WS_EX_NOPARENTNOTIFY
  CONTROL "Red",IDC_HIST_RBN_R,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,58,1,40,10,WS_EX_NOPARENTNOTIFY
  CONTROL "Green",IDC_HIST_RBN_G,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,108,1,40,10,WS_EX_NOPARENTNOTIFY
  CONTROL "Blue",IDC_HIST_RBN_B,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,158,1,40,10,WS_EX_NOPARENTNOTIFY
  CONTROL "Alpha",IDC_HIST_RBN_A,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,208,1,40,10,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",IDCANCEL,"Button",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,153,245,60,15
END

IDD_DLG_GRADATION_CURVE DIALOGEX 0,0,197,202
CAPTION "Gradation Curve"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "Channel:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE,7,5,31,10,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_GRADATION_COMBO_CHANNEL,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|CBS_HASSTRINGS|CBS_DROPDOWNLIST,40,3,67,13
  CONTROL "Hint: Right-click on a control point to remove it.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8,183,180,8
  CONTROL "Reset",IDC_BTN_RESET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,8,193,50,15
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,77,193,50,15
  CONTROL "Cancel",IDCANCEL,"Button",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,130,193,50,15
END
