#include "windows.h"
#include "resources.h"

IDD_DLG_OCR DIALOGEX 0,0,320,240
CAPTION "OCR"
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
//STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
  CONTROL "Language:",-1,"Static",WS_VISIBLE|WS_CHILDWINDOW,6,4,36,10
  CONTROL "",IDC_COMBO,"ComboBox",WS_VISIBLE|WS_CHILDWINDOW|WS_VSCROLL|CBS_HASSTRINGS|CBS_DROPDOWNLIST,43,2,126,13
  CONTROL "Extract",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_PUSHBUTTON,173,1,50,14
  CONTROL "",IDC_EDIT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|ES_MULTILINE,6,19,217,198,WS_EX_STATICEDGE
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,163,221,60,15
END
