#include "windows.h"
#include "resources.h"

IDB_TOOLBAR_PAINT BITMAP DISCARDABLE "toolbar-paint.bmp"
IDB_TOOLBAR_PAINT_DARK BITMAP DISCARDABLE "toolbar-paint-dark.bmp"
IDB_SWITCH_COLORS BITMAP DISCARDABLE "switch.bmp"

IDI_CURSOR_FLOODFILL CURSOR DISCARDABLE "floodfill.cur"
IDI_CURSOR_PENCIL CURSOR DISCARDABLE "pencil.cur"
IDI_CURSOR_PICKER CURSOR DISCARDABLE "picker.cur"
IDI_CURSOR_TEXT CURSOR DISCARDABLE "text.cur"

CONTEXT_MENU_TEXT MENU
BEGIN
  POPUP "Context"
  BEGIN
    MENUITEM "Font...",IDM_TEXT_FONT
    MENUITEM SEPARATOR
    MENUITEM "Align left",IDM_TEXT_ALIGN_LEFT,CHECKED
    MENUITEM "Center",IDM_TEXT_ALIGN_CENTER
    MENUITEM "Align right",IDM_TEXT_ALIGN_RIGHT
  END
END

CONTEXT_MENU_SHAPE MENU
BEGIN
  POPUP "Context"
  BEGIN
    MENUITEM "Draw",IDM_SHAPE_DRAW
    MENUITEM "Fill",IDM_SHAPE_FILL
  END
END

CONTEXT_MENU_PICKER MENU
BEGIN
  POPUP "Context"
  BEGIN
    MENUITEM "Pen Color",IDM_PICKER_PEN,CHECKED
    MENUITEM "Brush Color",IDM_PICKER_BRUSH
  END
END

CONTEXT_MENU_ARROW MENU
BEGIN
  POPUP "Context"
  BEGIN
    MENUITEM "Arrow head at start",IDM_ARROW_START
    MENUITEM "Arrow head at end",IDM_ARROW_END
  END
END

IDD_DLG_PALETTE_COLOR DIALOGEX 0,0,219,238
CAPTION "Color Selection"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFOREGROUND|DS_SETFONT
BEGIN
   CONTROL "", 1781, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 219, 203
   CONTROL "Index: ", 1779, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 206, 52, 10
   CONTROL "Value:", 1780, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 206, 153, 10
   CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,221,60,15
   CONTROL "Cancel",IDCANCEL,"Button",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,153,221,60,15
END
